@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color */
.bg-primary {
  background: #0F172A;
}
.bg-secondary {
  background: #1E293B;
}
.bg-accent {
  background: #7477FF;
}
.text-accent {
  background: #7477FF;
}
html{
scroll-behavior:smooth;
}

nav li a {
  @apply px-4 py-5 text-xl;
}

nav li a:hover {
  color: #7477FF;
}

.mobile-nav {
  @apply block md:hidden fixed  top-10 py-2 h-full w-full bg-gray-900 duration-500;
}
.logo {
  color: #7477FF; /* set the text color to the desired color */
}
.hero-img {
  border-radius: 200px;
  line-height: 1.5 !important;
} 
/* hero */

h1 {
  font-family: 'Pacifico', cursive;

}

projects.img {
width: 100%;
}


form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
  padding: 20px 0;
  color: #828282;
  background-color: transparent;
}

input.textarea.label {
  display: block;
  margin: 0 auto;
  color: #828282;
}
input,
textarea {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #828282;
}

input[type="submit"] {
  background-color: #545557;
  padding: 15px 0;
  color: white;
  font-size: 18px;
  border-bottom: none;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}
input[type="submit"]:hover {
  background: #fff;
  color: #1b1c1e;
}
input,
textarea {
  color: white;
  font-size: 18px;
  padding: 10px;
}
input:focus,
textarea:focus {
  outline: 1px solid #828282;
}

.show-on-mobile {
  opacity: 0;
}

@media (max-width: 1199px) {
  .show-on-mobile {
    opacity: 1;
  }
}